In [2]:
import pandas as pd
df1=pd.DataFrame({'sex':list('FFMFMMF'),'smoker':list('YNYYNYY'),'age':[21,30,17,37,40,18,26],'weight':[120,100,132,140,94,89,123]})
df1

   age sex smoker  weight
0   21   F      Y     120
1   30   F      N     100
2   17   M      Y     132
3   37   F      Y     140
4   40   M      N      94
5   18   M      Y      89
6   26   F      Y     123

In [3]:
grouped=df1.groupby(['sex','smoker'])

In [4]:
grouped.count()

            age  weight
sex smoker
F   N         1       1
    Y         3       3
M   N         1       1
    Y         2       2

In [5]:
grouped['age'].agg('mean')

sex  smoker
F    N         30.0
     Y         28.0
M    N         40.0
     Y         17.5
Name: age, dtype: float64

In [6]:
grouped.agg('mean')

             age      weight
sex smoker
F   N       30.0  100.000000
    Y       28.0  127.666667
M   N       40.0   94.000000
    Y       17.5  110.500000

In [7]:
grouped['age'].agg(['min','max'])

            min  max
sex smoker
F   N        30   30
    Y        21   37
M   N        40   40
    Y        17   18

In [8]:
grouped['age'].agg([('A','mean'),('B','max')])

               A   B
sex smoker
F   N       30.0  30
    Y       28.0  37
M   N       40.0  40
    Y       17.5  18