In [1]:
word_generator=[1,2,3]

In [2]:
words_list=[]

In [3]:
for word in word_generator:
    words_list.append(word)

In [4]:
for i in words_list:
    print(i)

1
2
3

In [1]:
import pandas as pd

In [2]:
comments = pd.DataFrame(columns=['data','score'])

In [20]:
comments = comments.append({'data':'A','score':12},ignore_index=True)
comments = comments.append({'data':'B','score':12},ignore_index=True)

In [21]:
comments

  data score
0    A    12
1    A    12
2    B    12
3    A    12
4    B    12
5    A    12
6    B    12

In [25]:
comments.drop(comments.index,inplace=True)

In [26]:
comments

Empty DataFrame
Columns: [data, score]
Index: []

In [29]:
from pyecharts import Bar, Line,Overlap,Geo

In [30]:
geo = Geo('全国热力图', title_color="#fff",title_pos="center", width=1200, height=600, background_color='#404a59')